.header-app {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #1f1e1e;
    align-items: center;
    box-shadow: 0 0 5px gray;
}

.header-app div {
    display: flex;
    gap: 1rem;
}

.header-app img {
    width: 2.5rem;
}

.header-app ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header-app a {
    border: 2px solid rgb(137, 0, 87);
    padding: 0.5rem;
    border-radius: 15px;
    color: rgb(137, 0, 87);
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.header-app a:hover {
    background-color: rgb(80, 0, 141);
    color: #fff;
}