@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,300&display=swap');

.home-title {
  font-size: 3rem;
  margin-block: 2rem;
  text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 40px;
  }
  
  .container form {
    color: rgb(255, 255, 255);
    width: 35rem;
    height: fit-content; /* mudei aqui */
    font-size: 21px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;    
    background-color: rgb(36, 36, 36);
    border: 1px 5px 15px rgb(251, 251, 251);
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    left: 70px;
  }
  
  .container form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px
  }
  
  .container form input {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    outline: none;
  } 

  .container form label {
    color: rgb(255, 255, 255);
  }

  .group input {
    margin: 1em 0 1em 0;
    max-width: 40rem;
    position: relative;
    border: 2px solid blueviolet;
    background-color: transparent;
    border-radius: 20px;
    font-size: 1rem;
  }
  
  .group label {
    font-size: 100%;
    position: absolute;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .group label :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    background-color: #e8e8e8;
  }

  .data {
    text-align: center;
  }

  .data input {
    text-align: center;
    border: 0;
    border-bottom: 1px solid;

  }

  .container .label-imagem label {
    border: 1px solid transparent;
    background-color: blueviolet;
    border-radius: 20px;
    max-width: 15rem;
    padding: 15px;
    text-align: center;
    font-size: 18px;

  }
  
  .container .label-imagem input{
    display: none;
  }
  
  .container form button {
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 30, 176);
  }

  .container-eventos {
    position: relative;
    left: 10%;
    bottom: 500px;
    width: 70%;
    height: 40vh; /* mudei-aqui */
    overflow-y: auto; /* aqui também */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    float: right;
  }

  .preview-imagem img {
    width: 100%;
    height: 25rem;
    display: block;
    margin-inline: auto;
  }